# Ignore system files
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
ENV/

# Output files
output/
*.pdf

# IDE
.vscode/
.idea/
*.swp
*.swo


# Streamlit
.streamlit/secrets.toml

# Secrets
abiding-kingdom-487117-u4-9954f4231733.json
*.json
!config.json
!forms/*.json
!forms_index.json
